<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">


	<!-- 配置数据源 -->
	<bean id="readDataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://172.16.10.65:3306/cns?zeroDateTimeBehavior=convertToNull" />
        <property name="username" value="root" />
        <property name="password" value="password_pinglian" />
		<property name="initialSize" value="5" />
		<property name="maxIdle" value="10" />
		<property name="minIdle" value="5" />
		<property name="maxActive" value="30" />
		<property name="removeAbandoned" value="true" />
		<property name="removeAbandonedTimeout" value="180" />
		<property name="maxWait" value="3000" />
		<property name="validationQuery">
			<value>SELECT 1</value>
		</property>
		<property name="testOnBorrow">
			<value>true</value>
		</property>
    </bean>
	
	<bean id="writeDataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://172.16.10.65:3306/cns?zeroDateTimeBehavior=convertToNull" />
        <property name="username" value="root" />
        <property name="password" value="password_pinglian" />
		<property name="initialSize" value="5" />
		<property name="maxIdle" value="10" />
		<property name="minIdle" value="5" />
		<property name="maxActive" value="30" />
		<property name="removeAbandoned" value="true" />
		<property name="removeAbandonedTimeout" value="180" />
		<property name="maxWait" value="3000" />
		<property name="validationQuery">
			<value>SELECT 1</value>
		</property>
		<property name="testOnBorrow">
			<value>true</value>
		</property>
    </bean>
	
	<!-- factory -->
	<bean id="readSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="readDataSource" />
		<property name="configLocation" value="classpath:com/shifen/cloud/name/server/repository/mapper/sqlMapConfig.xml" />
	</bean>
	<bean id="writeSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="writeDataSource" />
		<property name="configLocation" value="classpath:com/shifen/cloud/name/server/repository/mapper/sqlMapConfig.xml" />
	</bean>
	
	<!-- session -->
	<bean id="sqlReadSession_01" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="readSessionFactory" />
	</bean>
	<bean id="sqlWriteSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="writeSessionFactory" />
	</bean>
	
	<!-- transaction support -->
	<bean id="txManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="writeDataSource" />
	</bean>
	
	<tx:annotation-driven transaction-manager="txManager" />
	
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.shifen.cloud.name.server.repository.mapper"/>
	</bean>
	
	<!-- transaction support end-->
	<bean id="sessionManager" class="com.shifen.cloud.name.server.repository.SessionManager">
		<property name="sqlReadSessionList">
			<list>
				<ref bean="sqlReadSession_01"/>
				<ref bean="sqlReadSession_01"/>
			</list>
		</property>
		<property name="sqlWriteSession" ref="sqlWriteSession"></property>
	</bean>
</beans>